@use "../scss/abstract/mixins" as *;
@use "../scss/abstract/screen-queries" as *;

.background_text {
    user-select: none;

    position: absolute;
    z-index: -1;

    font-size: 50vmin;
    color: var(--text-light);

    opacity: 0.2;
}

.title {
    margin: 0 5rem;
    font-size: 4.2rem;
    text-align: center;
}

.message {
    font-size: 1.8rem;
    text-align: center;
}

@include respond-tablet-landscape {
    .background_text {
        font-size: 40vmin;
    }
}
