@use "../../scss/abstract/mixins" as *;
@use "../../scss/abstract/screen-queries" as *;

.header {
    @include flex($gap: 0.5rem);

    @include respond-tablet-landscape {
        margin: -1.5rem -5rem 0;
        padding: 1.5rem 5rem;
    }
    @include respond-tablet {
        margin: -1.5rem -2rem 0;
        padding: 1.5rem 2rem;
    }

    margin: -1.5rem -10rem 0;
    padding: 1.5rem 10rem;
    color: var(--background);
    background-color: var(--text);

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    span {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .skills {
        @include flex($direction: row, $align: center, $gap: 0.5rem, $wrap: wrap);

        @include respond-tablet {
            max-width: 100%;
        }

        max-width: 75%;
    }

    .skill {
        cursor: pointer;

        padding: 0.25em 0.5em;

        font-size: 0.85rem;
        color: var(--text);

        background-color: var(--background);
        border-radius: 0.5em;
    }
}
