:root {
    --background: #f7f7f7;
    --foreground: #ffffff;
    --text: #292d36;
    --text-hover: #464d5d;
    --text-active: #252931;
    --text-light: #767a82;
    --gold: #eabb2f;
    --primary: #00a698;
    --primary-hover: #00b3a4;
    --primary-active: #009e91;
    --primary-background: #b2e6e2;
    --light-shadow: rgba(149 157 165 / 5%);
}
