@use "./screen-queries" as *;

@mixin flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
}

@mixin max-width() {
    @include respond-tablet-landscape {
        padding: 1.5rem 5rem;
    }
    @include respond-tablet {
        padding: 1.5rem 2rem;
    }

    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem 10rem;
}
